<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="./angular.min.js"></script>
    <script src="./angular-route.min.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>

<body ng-controller="controlador">
        <form class="row row-cols-lg-auto align-items-end">
            <div class="col-12">
                <label class="form-label" for="name">usuario</label>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" ng-model='usuario'/>
            </div>
            <div class='col-12'>
                <label class="form-label" for='pass'>contraseña</label>
            </div>
            <div class="col-12">
                <input type="password" class="form-control" ng-model='contrasenna'/>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" ng-click='ValidarUsuario()'>Acceder</button>
            </div>
        </form>

        <ul class="nav justify-content-center bg-light">
            <li class="nav-item">
                <a class="nav-link active" href="/bcor_bcor-fe/destinatarios">destinatario</a>
            </li>            
            <li class="nav-item">                
                <a class="nav-link active" href="/transferir">transferir</a>
            </li>            
            <li class="nav-item">                
                <a class="nav-link active" href="/transferencias">transferencias</a>
            </li>
        </ul>
<div ng-view>
        
</div>

    <!-- 
    <input type="text" ng-model="nombre">
    <input type="text" ng-model="precio">
    <button value="Añadir" ng-click="addProducto()">Añadir</button>

    <li ng-repeat="producto in productos">
        {{producto.nombre}}
    </li>
    <br>
    testout -->
</body>

</html>